<nav class="nav">
<!--  <div class="nav-container">-->
  <div style="float: left">
    <img src="/images/sudal-256.png" style="width : 60px; margin-bottom:0rem;">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title" style="margin-bottom:10px;">{{ site.title }}</h2>
    </a>
  </div>
  <div style="float: right">
    <ul>
      <li><a href="{{ site.baseurl }}/">Posts</a></li>
      <li><a href="{{ '/tags' | prepend: site.baseurl }}">Tags</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
    </ul>
  </div>
<!--  </div>-->
</nav>
